
@font-face {
    font-family: 'GoudyOldstyle-Bold';
    src: url('./fonts/goudyoldstylefs_bold_macroman/GoudyOldstyle-Bold-webfont.woff2') format('woff2'),
    url('./fonts/goudyoldstylefs_bold_macroman/GoudyOldstyle-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyOldstyle-Regular';
    src: url('./fonts/goudyoldstylefs_regular_macroman/GoudyOldstyle-Regular-webfont.woff2') format('woff2'),
    url('./fonts/goudyoldstylefs_regular_macroman/GoudyOldstyle-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'yrsa-bold';
    src: url("./fonts/yrsa/yrsa-bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yrsa-regular';
    src: url("./fonts/yrsa/yrsa-regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
.pure-g [class*=pure-u] {
    font-family: yrsa-regular;
}
*{
    margin:0;
    padding: 0;
}
h1, h2, h3 {
    font-family: yrsa-regular;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #eee;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 20px;
}

.pure-button-primary {
    background-color: #0c1a2b;
}

.pure-button-primary:hover {
    background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
    border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
    position: fixed;
    padding: 5px;
    background: #0c1a2b;
    font-family: 'GoudyOldstyle-Regular';
}


.navbar a {
    color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
    background: #233e5e;
}

.navbar .pure-menu-heading {
    font-weight: bold;
    text-transform: none;
}

.navbar .navbar-right {
    float: right;
}

.navbar .uport-logo {
    height: 16px;
    margin-right: 10px;
}

.horse-back{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back2.png");
}

.horse-back1{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back.png");
}

.horse-back2{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back2.png");
}

.horse-back3{
    background-image: url('https://image.eth-horse.com/static_assets/horse-back3.png');
}

.horse-back4{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back4.png");
}

.horse-back-silver{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back-silver.png");
}

.horse-back-gold{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back-gold.png");
}

.sellHorseButton{
    background-image: url("https://image.eth-horse.com/static_assets/sq.png");
}

.holdRaceButton{
    background-image: url("https://image.eth-horse.com/static_assets/sq.png");
}

.button-back-transparent{
    background-image: url("https://image.eth-horse.com/static_assets/buton-back-transparent.png");
}

.sire-horse-back{
    background-image: url("https://image.eth-horse.com/static_assets/horse-back.png")
}

.sire-horse-button{
    background-image: url("https://image.eth-horse.com/static_assets/sq.png");
}

.horse-price-imgae{
    background-image: url("https://image.eth-horse.com/static_assets/priceBack.png");
}

.market-buy-button{
    background-image: url('https://image.eth-horse.com/static_assets/buyButton.png');
}

.race-current-state{
    background-image: url("https://image.eth-horse.com/static_assets/raceStatus.png");
}

.race-current-state-wanted{
    background-image: url("https://image.eth-horse.com/static_assets/race-now-wanted.png");
}

.race-current-state-betting{
    background-image: url("https://image.eth-horse.com/static_assets/race-now-betting.png");
}

.race-current-state-ended{
    background-image: url("https://image.eth-horse.com/static_assets/race-ended.png");
}

.race-current-state-check-result{
    background-image: url("https://image.eth-horse.com/static_assets/race-check-result.png");
}

.race-info-horse-back{
    background-image: url('https://image.eth-horse.com/static_assets/horse-back2.png');
}

.race-horse-info-back{
    background-image: url('https://image.eth-horse.com/static_assets/buton-back-transparent.png');
}

.bet-button{
    background-image: url("https://image.eth-horse.com/static_assets/sq.png");
}

.eth-balance-back{
    background-image: url("https://image.eth-horse.com/static_assets/square3.png");
}

.trainTicket{
    background-image: url("https://image.eth-horse.com/static_assets/event-training.png");
}

.dressUpTicket{
    background-image: url("https://image.eth-horse.com/static_assets/event-dressup.png");
}

.shuffleDressUpTicket{
    background-image: url("https://image.eth-horse.com/static_assets/event-shuffle-dressup.png");
}

.sale-horse-back{
    background-image: url("https://image.eth-horse.com/static_assets/buton-back-transparent.png");
}

.horse-rank-image{
    background-image: url("https://image.eth-horse.com/static_assets/rank-triangle.png");
}

.activity-buy-horse{
    background-image: url("https://image.eth-horse.com/static_assets/activity-buy-horse.png");
}

.activity-bet-race{
    background-image: url("https://image.eth-horse.com/static_assets/activity-bet-race.png");
}

.activity-to-market{
    background-image: url('https://image.eth-horse.com/static_assets/activity-horse-on-market.png');
}

.activity-apply-race{
    background-image: url("https://image.eth-horse.com/static_assets/activity-apply-race.png");
}

.activity-host-race{
    background-image: url("https://image.eth-horse.com/static_assets/activity-host-race.png");
}

.activity-sell-horse{
    background-image: url("https://image.eth-horse.com/static_assets/activity-sell-horse.png");
}

.rank-modal-horse-back{
    background-image: url("https://image.eth-horse.com/static_assets/rank-modal-horse-back1.png");
}

.rank-modal-horse-back1{
    background-image: url("https://image.eth-horse.com/static_assets/rank-modal-horse-back3.png");
}

.rank-modal-horse-back2{
    background-image: url("https://image.eth-horse.com/static_assets/rank-modal-horse-back2.png");
}

.rank-modal-horse-back3{
    background-image: url('https://image.eth-horse.com/static_assets/rank-modal-horse-back1.png');
}

.event-back-training{
    background-image: url("https://image.eth-horse.com/static_assets/event-back-training.png");
}

.event-back-gift-horse{
    background-image: url("https://image.eth-horse.com/static_assets/event-back-gift-horse.png");
}

.event-back-shuffle-dress-up{
    background-image: url("https://image.eth-horse.com/static_assets/event-back-shuffle-dress-up.png");
}

.event-back-dress-up{
    background-image: url('https://image.eth-horse.com/static_assets/event-back-dress-up.png');
}

.lottery-button{
    background-image: url("https://image.eth-horse.com/static_assets/square3.png");
}

.event-dress-up{
    background-image: url("https://image.eth-horse.com/static_assets/event-dressup.png");
    background-size: 75px 75px;
}

.event-shuffle-dress-up{
    background-image: url("https://image.eth-horse.com/static_assets/event-shuffle-dressup.png");
    background-size: 65px 75px;
    background-position: center;
}

.event-training{
    background-image: url("https://image.eth-horse.com/static_assets/event-training.png");
    background-size: 75px 75px;
}

.event-gift-horse{
    background-image: url("https://image.eth-horse.com/static_assets/event-gifthorse.png");
    background-size: 75px 75px;
}

.event-buy-ticket-back{
    background-image: url("https://image.eth-horse.com/static_assets/sq.png");
    background-size: 75px 75px;
}

.horse-star-base{
    height: 30px;
    width: 36%;
    line-height: 30px;
    position: relative;
    font-size: 12px;
    text-align: right;
    padding-right: 1px;
}

.ticket-animation-before{
    opacity: 0;
    display: block;
    width: 80%;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    transition: opacity 3s linear;
}

.ticket-animation-after{
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 3s linear;
}

.message-base{
    width: 80%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: black;
    position: fixed;
    z-index: 9999;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.show-flash-message{
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 9000;
}

.hide-flash-message{
    opacity: 0;
    z-index: -1;
}

.message-before{
    opacity: 0;
}

.message-after{
    opacity: 1;
    transition: opacity 2s ease-in;
}


.check-result a{
    color: white;
}

.header-container{
    font-family: GoudyOldstyle-Regular;
}

.info-horse-stars{
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: absolute;
    top: 203px;
    font-size: 14px
}

.hover{
    cursor: pointer;
}

.rank-modal-stars{
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 70px;
    margin-left: 56px;
}