/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}
*{
  margin:0;
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'GoudyOldstyle-Regular', 'Arial Narrow', sans-serif;
}


.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.horse-back{
  background-image: url("./assets/static_assets/horse-back2.png");
}

.sellHorseButton{
  background-image: url("./assets/static_assets/sq.png");
}

.button-back-transparent{
  background-image: url("./assets/static_assets/buton-back-transparent.png");
}

.sire-horse-back{
  background-image: url("./assets/static_assets/horse-back.png")
}

.sire-horse-button{
  background-image: url("./assets/static_assets/sq.png");
}

.horse-price-imgae{
  background-image: url("./assets/static_assets/priceBack.png");
}

.market-buy-button{
  background-image: url('./assets/static_assets/buyButton.png');
}

.race-current-state{
  background-image: url("./assets/static_assets/raceStatus.png");
}

.race-info-horse-back{
  background-image: url('./assets/static_assets/horse-back2.png');
}

.race-horse-info-back{
  background-image: url('./assets/static_assets/buton-back-transparent.png');
}

.bet-button{
  background-image: url("./assets/static_assets/sq.png");
}

.eth-balance-back{
  background-image: url("./assets/static_assets/square3.png");
}

.ticketBack{
  background-image: url("./assets/static_assets/event-dressup.png");
}
